body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

textarea{
  padding: 10px;
}

.mention {
  border: 1px solid #000;
  border-radius: 0.4rem;
  padding:0rem 0.3rem;
  box-decoration-break: clone;
}

::-webkit-scrollbar {
  width: 0.4rem;
}

::-webkit-scrollbar:horizontal {
  height: 0.4rem;
}

/* Track */
::-webkit-scrollbar-track,
::-webkit-scrollbar-track:horizontal {
  background: #f1f1f1; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:horizontal {
  background: rgb(196, 194, 194);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:horizontal:hover {
  background: rgb(196, 194, 194); 
}

span[data-comment] {
  background: rgba(47, 255, 238, 0.5);
  border-radius: 5px;
  padding:0 5px;
  cursor: pointer;
}
span[data-comment]::after {
  content: " 💬";
  user-select: all;
} 